body{
    margin: 0%;
}

header {
    background-color: black;
    color: white;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    padding: 20px;
}

.top {
    display: flex;
    padding-left: 20px;
    
}

.top div{
    padding: 20px;
}

.utilitites {
    display: flex;
    padding-left: 20px;
}

.utilitites div {
    padding: 20px;
}