html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

/* General Styles */

#Container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    display: none;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid grey;
    cursor: pointer !important;
    background-color: #c41f3e;
}

#Container > a > *,
#bgMask > * {
    position: absolute;
}

.preload {
    display: none;
}

.mask {
    overflow: hidden;
}

/* Custom Styles */

#bgMask,
#BG1,
#copy1,
#copy2,
#endFrame1,
#endFrame2,
#endFrame3,
#logoCIBC,
#CTA{
    top: -1px;
    left: -1px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 250px;
}

#slider{
    background-image: url('slider.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(841px/2);
    height: calc(500px/2);
}

/*Copy*/
#copy1 {background-image: url('copy1.png');}
#copy2 {background-image: url('copy2.png');}
#endFrame1 {background-image: url('endFrame1.png');}
#endFrame2 {background-image: url('endFrame2.png');}
#endFrame3 {background-image: url('endFrame3.png');}

/*Objects*/
#bgMask {clip:rect(0px, 300px, 250px, 150px);}

/*Logos */
#logoCIBC{background-image: url('logoCIBC.png');}
#CTA {background-image: url('CTA.png');}